SECRET_KEY_BASE=

REDIS_HOST=

DEFAULT_HOST=
DEFAULT_PROTOCOL=
DEFAULT_MAIL_FROM=

POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

SMTP_ADDRESS=
SMTP_PORT=
SMTP_USER_NAME=
SMTP_PASSWORD=
MAIL_DELIVERY_METHOD=smtp
